# Comments use # symbol
# Blank lines are OK for readability
# But properties MUST have no spaces around =


spring.application.name=takestockireland
# Database URL
spring.datasource.url=jdbc:mysql://localhost:3306/takestock_db
#Username
spring.datasource.username=root
#Password
spring.datasource.password=YOUR_PASSWORD_HERE
#Driver class
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver


#Hibernate settings
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true

